<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Simple Commerce</span>
        <a mat-button [routerLink]="['/catalogo']"  style="padding-left:40px">Catalogo</a>
        <span class="example-fill-remaining-space"></span>
        <a mat-button [routerLink]="['/login']" >Login</a>
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu"></mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
 
<div class="container">
    <router-outlet></router-outlet>
 </div>