<div class="container">

  <div class="col-sm-6 col-md-4" *ngFor="let produto in produtos">
    <div class="thumbnail" >
        <h4 class="text-center"><span class="label label-info"> {{ produto.marca }} </span></h4> 
        <img src="" class="img-responsive"> <!-- Imagem Produto : http://placehold.it/650x450&text=Lumia 1520 -->
        <div class="caption">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h3> {{ produto.nome }} </h3>
                </div>
                <div class="col-md-6 col-xs-6 price">
                    <h3>
                    <label> {{ produto.preco }} </label></h3>
                </div>
            </div>
            <p> {{ produto.descricao }} </p>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> <!-- Gosta do Produto --> </a> 
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> <!-- Comprar Produto --> </a></div>
            </div>
            <p> </p>
        </div>
    </div>
</div>

</div>